on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2

      - run: cargo test

      - name: Install wasm-pack
        run: cargo install --git https://github.com/rustwasm/wasm-pack
      
      - run: npm install
      - name: Install playwright browsers
        run: npx playwright install --with-deps

      - run: npm run build:release

      - run: npm run test
      
